{% extends "base.html" %}
{% block title %}Post{% endblock %}

{% block content %}

    <style>
        body {
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            background-color: rgba(253, 253, 253, 0.83);
        }

        .comments {
            margin-left: 26.3%;
            margin-bottom: 1%;
        }

        .card{
            box-shadow: 0 16px 48px #E3E7EB;
            margin-top: 3%;
        }

        .sign {
            margin-left: 23.3%;
        }
    </style>

            <div class="card col-lg-6 offset-lg-3 mb-3">
              <div class="card-body">
                  <p class="card-text"><h4 class="text-dark">{{post_detail.text}}</h4></p>
                  <p class="card-title"><h6 class="text-secondary">By {{ post_detail.name }}</h6></p>
                  <form method="post" action="{% url 'like_post' post_detail.id %}">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-outline-primary">Like {{ post_detail.likes_count }}</button>
                  </form>
              </div>
            </div>

            <div class="comments">
                <br/>
                <h4>Comments...</h4>
                {% if not post_detail.comment.all %}
                    No comments...
                {% else %}
                    {% for comment in post_detail.comment.all %}
                        {{ comment.text }}
                        <br/>
                        rating - {{ comment.rating }}
                        <br/>
                        {{ comment.owner_name }}
                        <br/>
                        {{ comment.date_created }}
                        <br/><br/>
                    {% endfor %}
                {% endif %}
                <br/>
                {% if user.is_authenticated %}
                    <form method="post" action="{% url 'add_comment' post_detail.id %}">
                        {% csrf_token %}
                        <div class="col-md-5">
                            {{ form.as_p }}
                        </div>
                        <button class="btn btn-primary">Leave a comment</button>
                    </form>
                {% else %}
                    <p class="text sign"><a href={% url 'login' %}>Sign in</a> to leave a comment...</p>
                {% endif %}
            </div>

{% endblock %}